--- Logistic Regression Model Evaluation for 'Risk_Type' ---
Accuracy: 0.7946
Precision: 0.6314
Recall: 0.7946
F1-Score: 0.7036
------------------------------------------------------------

--- RandomForestClassifier Model Evaluation for 'Risk_Type' ---
Accuracy: 0.7892
Precision: 0.6339
Recall: 0.7892
F1-Score: 0.7031
------------------------------------------------------------

--- GradientBoostingClassifier Model Evaluation for 'Risk_Type' ---
Accuracy: 0.7892
Precision: 0.6374
Recall: 0.7892
F1-Score: 0.7052
------------------------------------------------------------
